@charset "UTF-8";
header{        
		display: grid;
		grid-template-columns: 33% 33% 33%;
		color: rgb(231, 75, 1);
	    min-height: 40px;
	    justify-content: space-between;
	    padding: 20px;
	    font-family: 'Montserrat', sans-serif;
		font-weight: bold;
		font-size: 20px;
		margin: 0;
        }

header > nav > a,main,footer > a, footer{
	color: rgb(219, 63, 11);
	text-decoration: none;
}

li > a{
	text-decoration: none;
}

h2 > a {
    font-family: 'Georgia', serif;
    text-decoration: none;
    font-size: 50px;
}

.imagen1 {
        height: 70px;
        width: 120px;
        float: right;
        }
        
.imagen2 {
        height: 70px;
        width: 70px;
        float: right;
        }
        
.imagen3,.imagen5 {
        height: 300px;
        width: 490px;
        }

.imagen4 {
        height: 500px;
        width: 390px;
        }
     
.listar{
		display: grid;
		grid-template-columns: auto auto;
}
     
.titulo{
 		text-align: center;
 }
 
form {
		max-width: 400px;
		margin: 0 auto;
		background-color: rgb(255, 128, 0);
		padding: 20px;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		}
		
body{
    background-color: #15054e;
    margin: 70px 70px 30px;
}

main > div{
    text-align: center;
    padding: 20px 0;
}

footer{
	align-items: center;
	text-align: center;
}

h1{
	text-align: center;
}

li{
	text-align: left;
}

.inicio,.proyectos{
	display: grid;
	grid-template-columns: 50% auto;
}

/*Bootstrap*/

.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}
.card-registration .select-arrow {
top: 13px;
}

@media (max-width:800px){
        header{
                flex-direction: column;
                }
        .inicio,.proyectos,.listar{
        		display: grid;
				grid-template-columns: auto;
        }
 		nav{
                padding: 10px 0px;
                }
        iframe{
        		height: 300px;
        		width: 400px;
        		}
        }
